<article id="transition" class="NoAnimate {{special}}">
	<h1 class="title">{{message}}</h1>
	<div class="vs">
		<article class="player left">
			<div class="card">
				<img  class="avatar" src="{{meAvatar}}" />
				<div class="data"></div>
			</div>

			<span class="pseudo">Me</span>
		</article>
		
		<div class="vsLabel">VS</div>

		<article class="player right">
			<div class="card">
				<img  class="avatar" src="{{opAvatar}}" />
				<div class="data"></div>
			</div>
			<span class="pseudo">{{opPseudo}}</span>
		</article>
	</div>
	<article class="subtitle round">
		<span class="txt">ROUND</span>
		<br/>
		<span class="number">{{roundNumber}}</span>
	</article>
</article>