<header id="main" class="main">
	<div class="content shift">
		{{#backBtn}}
			<img src="img/btn_back.png" class="left" id="backBtn" alt="back" />
		{{/backBtn}}

		{{#refreshBtn}}
		<img src="img/btn_refresh.png" class="left" id="refreshBtn" alt="refresh" />
		{{/refreshBtn}}

		{{#settingsBtn}}
		<img src="img/btn_settings.png" class="right" id="settingsBtn" alt="settings" />
		{{/settingsBtn}}

		{{#validateBtn}}
		<img src="img/btn_validate.png" class="right" id="validateBtn" alt="validate" />
		{{/validateBtn}}

		{{#refreshRightBtn}}
		<img src="img/btn_refresh.png" class="right" id="refreshBtn" alt="refresh" />
		{{/refreshRightBtn}}
		<h1>GEEKIEST</h1>
	</div>
</header>
<div id="main-content">
	
</div>