<div><img src="{{Avatar}}" class="left avatar" /> 


{{^isMaster}}
	<a href="#" class="btnList right  actionAnswer" >OK&#32;&#32;&#32;!</a>
{{/isMaster}}

{{#isMaster}}
	{{#isStatusTwo}}
		<img src="img/indic_wait.PNG" class="wait" />
	{{/isStatusTwo}}
	{{^isStatusTwo}}
		<a href="#" class="btnList right go actionInvitGo" >GO&#32;&#32;&#32;!</a>
	{{/isStatusTwo}}
{{/isMaster}}


<div class="text">
	<p class="name">{{Name}}</p>
	<p class="desc">
		{{^isMaster}}
			has challenged you !
		{{/isMaster}}
		{{#isMaster}}
			Turn {{counter}} - 
			{{#isStatusTwo}}
				{{#isFemale}}Her{{/isFemale}}
				{{^isFemale}}His{{/isFemale}} 
			{{/isStatusTwo}}
			{{^isStatusTwo}}
				Your
			{{/isStatusTwo}}
			turn
		{{/isMaster}}
		
	</p>
</div>