<article class="newCustomChallenge">
  <header class="tiiitle">
    <span class="hor_lign">
      <span class="title"> SELECT A TYPE </span>
    </span>
  </header>

  <div class="types">
	  <div class="type movies" data-type="movie">
	  	<img src="img/type_movies.PNG" class="icon"/>
	  	<p>movie</p>
	  </div>

	  <div class="type tvshows" data-type="tvshow">
	  	<img src="img/type_tvshows.PNG" class="icon"/>
	  	<p>tv shows</p>
	  </div>

	  <div class="type videogames" data-type="videogame">
	  	<img src="img/type_videogames.PNG" class="icon"/>
	  	<p>video games</p>
	  </div>

	  <div class="type comics" data-type="comic">
	  	<img src="img/type_comics.PNG" class="icon"/>
	  	<p>comics</p>
	  </div>
	</div>

</article>