<article id="videoPlayer">
  <header>
    <span class="hor_lign">
      <span class="title"> SELECT A CLIP  </span>
    </span>
  </header>
</article>

<div class="shift sendChallenge ">
	<div class="clear">
		<div class="left avatar">
			<img src="{{userAvatar}}?type=normal" />
			<p class="pseudo center">me</p>
		</div>
		<div class="comment">
			<textarea rows="6" class="form">qzedssd</textarea>
		</div>
	</div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/>
<a href="#" class="btn sendchallAAA">CHALLENGE</a>
</div>